body{
    background: #ffffff;
    margin: 50px;
}

h1{
    font-size: 59px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #000000;
}

.tarea {
    width: 300px; 
    margin: 5px auto; 
    padding: 10px;
    border: 1px solid #aaa4a4;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff; 
    text-align: center; 
    color: #000000;
  border-radius: 10px;
    box-shadow: #474444;
}

.completada {
    background-color: #06224f; 
    color: rgb(255, 255, 255); 
}

#resumenTareas {
    text-align: center; 
}